<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About...</title>
</head>
<body>

    <h1>Rango says...</h1>
    <div>here is the about page.</div>
    Go back to <a href="/rango">Index</a><br/>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Batman" />
    <br/> This tutorial has been put together by {{your_name}}
    <br/><br/>
    <img src="{{MEDIA_URL}}cat.jpg" />

</body>
</html>