<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>
<body>
<div>
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    {% else %}
    The specified category does not exist!
    {% endif %}
</div>
    {% if user.is_authenticated %}
       <a href="/rango/category/{{ category.slug }}/add_page/">Add a New Page</a><br />
    {% endif %}

    Go back to the <a href="/rango">Index</a>
</body>
</html>

