<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Rango</title>
</head>

<body>
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}
<div>
    <h2>Most Liked Categories</h2>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
</div>

<div>
    <h2>Most Viewed Pages</h2>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{ page.url }}">{{ page.title}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no pages present.</strong>
    {% endif %}
</div>

    {% if user.is_authenticated %}
    <a href="/rango/add_category/">Add a New Category</a><br /><br/>
    <a href="/rango/restricted/">Restricted Page</a><br />
    <a href="/rango/logout/">Logout</a><br />
    {% else %}
    <a href="/rango/register/">Register Here</a><br />
    <a href="/rango/login/">Login</a><br />
    {% endif %}
    <div>
        <a href="/rango/about/">About Rango</a><br />

        <img src="{% static 'images/rango.jpg' %}" alt="Picture of BATMAN" />
    </div>
</body>
</html>